<!-- Vista: Detálle de un Teléfono -->

<!-- Imágen principal del teléfono -->
<div class="phone-images">
  <!-- "ng-src" Previene que el browser evalue la expresión {{}} de forma Literal -->
  <!-- "ng-repeat" Itéra el arreglo de imágenes de un teléfono -->
  <!-- "ng-class" agrega el estilo "active" a la imágen principal, siempre y cuando:
        la "{{imagen}}" sea la misma que la imágen seleccionada (imagenPrincipal) -->
  <img ng-src="{{imagen}}"
       class="phone"
       ng-repeat="imagen in telefono.images"
       ng-class="{active: imagenPrincipal==imagen}">
</div>

<!-- Encabezádo de la vista-->
<h1>{{telefono.name}}</h1>

<!-- Descripción del teléfono-->
<p>{{telefono.description}}</p>

<!-- Imágenes del teléfono -->
<ul id="imagenTel" class="phone-thumbs">
  <li ng-repeat="imagen in telefono.images">
    <img ng-src="{{imagen}}" ng-click="setImage(imagen)">
  </li>
</ul>

<!-- Detálle del teléfono -->
<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <!-- "ng-repeat" Itéra el arreglo "availability" de un teléfono -->
      <dd ng-repeat="availability in telefono.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{telefono.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{telefono.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{telefono.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{telefono.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{telefono.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{telefono.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{telefono.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{telefono.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>

      <!-- "checkmark" es un filtro para mostrar una palóma o un táche -->
      <dd>{{telefono.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>

      <!-- "checkmark" es un filtro para mostrar una palóma o un táche -->
      <dd>{{telefono.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{telefono.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{telefono.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <!-- "ng-repeat" Itéra el arreglo "dimensions" de la propiedad "sizeAndWeight" de un teléfono -->
      <dd ng-repeat="dim in telefono.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{telefono.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{telefono.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{telefono.display.screenResolution}}</dd>
      <dt>Touch screen</dt>

      <!-- "checkmark" es un filtro para mostrar una palóma o un táche -->
      <dd>{{telefono.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{telefono.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{telefono.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{telefono.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>

      <!-- "checkmark" es un filtro para mostrar una palóma o un táche -->
      <dd>{{telefono.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>

      <!-- "checkmark" es un filtro para mostrar una palóma o un táche -->
      <dd>{{telefono.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{telefono.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{telefono.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{telefono.additionalFeatures}}</dd>
  </li>
</ul>
